// Color pallette
$dark-gray: #353535;
$turquoise: #0096c7;
$white: #ffffff;
$light-gray: #dee2e6;
$blue: #48cae4;

* {
    margin: 0px;
    padding: 0px;
}

:root {
    font-size: 16px;
    font-family: "Rubik", serif;
}

body {
    background-image: linear-gradient(to right, $blue, $turquoise);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
    gap: 2rem;

    .title {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    h1 {
        color: $white;
        font-size: 2.5rem;
    }

    img {
        height: 2.5rem;
    }

    form {
        display: flex;

        .search-input, label {
            padding: 0.25rem 0 0.25rem 1rem;
            background-color: $dark-gray;
            border: 1px solid $light-gray;
            font-size: 1.1rem;
            opacity: 0.8;
            color: $white;
        }

        .search-input {
            border-radius: 1rem 0 0 1rem;
            border-right: none;
        }

        label {
            border-radius: 0 1rem 1rem 0;
            border-left: none;
            padding-right: 1rem;
            cursor: pointer;
        }

        img {
            height: 1.5rem;
            width: 1.5rem;
        }

        .search-submit {
            display: none;
        }
    }

    .unit-selection {
        display: flex;
    }

    .unit-selection {
        gap: 3rem;
        
        button {
            padding: 0.5rem 1.5rem;
            background-color: $dark-gray;
            border: 1px solid $light-gray;
            font-size: 1.1rem;
            opacity: 0.8;
            color: white;
            border-radius: 1.5rem;
        }

        .active, :hover {
            border: solid 2px $white;
            cursor: pointer;
        }
    }
}

main {
    color: $white;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .name-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;

        h2 {
            font-size: 2.5rem;
        }

        p {
            color: $light-gray;
            font-size: 1.5rem;
        }
    }

    .main-weather {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .logo-temp {
            display: flex;
            align-items: center;

            p {
                font-size: 3.5rem;
                font-weight: 500;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .main {
                color: $white;
            }

            p {
                color: $light-gray;
            }
        }
    }

    .weather-grid {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 10rem);
        grid-template-rows: repeat(2, 3rem);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        align-items: center;
        justify-content: center;

        .block {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1rem;
                color: $light-gray;
            }

            div {
                font-size: 1.5rem;
            }
        }
    }
}